@import url("http://db.onlinewebfonts.com/c/1926835283cbd17d05331a50e3039ada?family=lichess");

.card {
    min-width: 300px;
    min-height: 300px;
    max-width: 500px;
    max-height: 500px;
    background-color: hsl(0, 0%, 80%);

    border-radius: 10%;

    /* padding: 2rem; */
    display: flex;

    flex-direction: column;

    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
}

.card:hover {
    box-shadow: 0 16px 64px hsla(0, 0%, 0%, 0.16);
    transform: translateY(-0.25rem);
}

.card::after {
    
    /* position: absolute; */
    /* width: 300px;
    height: 150px;
    background-color: black;
    content: ''; */
}

.image {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */

    background-color: black;
    color: white;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.profile .username {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.profile .ratings  {
    font-size: 0.8rem;
}

.ratings ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    list-style: none;
}

i {
    font-family: "lichess";
    font-size: 1rem;
}